*{box-sizing: border-box;padding: 0; margin: 0px;}
.show-border{border-color: #dddddd; border-style: solid; border-width: 0.1px;}
:root{
	--gray-dark: #343434;
	--gray-dark-plus: #262626;
	--gray-dark-plus-ultra: #131313;
	--green-apple: #82b440;
	--blue-ligth: #0CB4CE;
	--ligth-blue: #43d7ff;
}
.iconStyle{
	color: white;
}
body{
	background-color: var(--gray-dark);
	background-image: url("../images/background2.png");
	background-repeat: no-repeat;
	background-position-x:  center;
	background-position-y: -25%;
	background-size: cover;

}
/**===============================screen to 550px ===========================*/
@media only screen and (max-width: 550px){
	/**------------------------------ header */
	.header{
		background-color: var(--gray-dark);
		width: 100%;
		height: 70px;
		position: fixed;
		top: 0;
		left: 0;
	}
	.container{
		width: 98%;
		margin: auto;
	}
	.container .btn-menu, .logo{
		float: left;
		line-height: 3em;
	}
	.container .btn-menu label{
		color: red;
		font-size: 1.5em;
		cursor: pointer;
	}
	.logo h1{
		color: white;
		font-size: 1.3em;
		font-family: 'Montserrat Alternates';
		font-weight: 700;
		padding: 0em 0.3em 0em 0.3em;
	}
	.container .menu{
		float: right;
		line-height: 3em;
	}
	.container .menu a{
		display: inline-block;
		padding: 0em 0.3em 0em 0.3em;
		line-height: normal;
		text-decoration: none ;
		color: var(--ligth-blue);
		font-family: 'Russo One', sans-serif;
		transition: all 0.3s ease;
		border-bottom: 4px solid transparent;
		font-size: 0.9em;
	}
	.container .menu a:hover{
		border-bottom: 4px solid orange;
	}
	/**------------------------------ lateral menu */
	#btn-menu{ 
		display: none; 
	}
	.container-menu{
		position: absolute;
		background: rgba(0, 0, 0, 0.5);
		width: 100px;
		height: 100vh;
		top: 0;
		left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 15em;
		background: #1c1c1c ;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		font-family: 'Raleway', sans-serif;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid var(--ligth-blue);
		background: #1f1f1f;
	}
	.cont-menu nav .newcv{
		font-weight: bold;
		font-size: 1em;
	}
	.cont-menu nav .newcv:hover{
		background-color: #43a7ff;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		font-size: 18px;
	}
	/**------------------------------ section */
	main{
		width: 100%;
		margin-top: 5em;
		padding: 0em 1em 0em 1em;
	}
	.show-section{display: block;}
	.hide-section{display: none;}

	section{
		width: 95%;
	}
	section figure{
		text-align: center;
		padding: 0.5em;
	}
	section figure img{
		border-color: var(--ligth-blue);
		border-radius: 5px;
		border-style: double;
		border-width: 4px;
		font-family: arial;
		font-size: 0.7em;
		color: #dddddd;
		position-x: center;
		width: 10em;
	}
	section figure figcaption{
		color: white;
		font-family: arial;
		font-style: italic;
		font-size: 0.7em;

	}
	section h2{
		background-color: var(--blue-ligth);
		color: #ffffff;
		font-family: 'Montserrat Alternates';
		font-size: 1.1em;
		text-align: center;
		padding-top: 1em;
		padding-bottom: 1em;
		border-radius: 10px;

	}
	.field-name-title{
		color: var(--ligth-blue);
		font-family: arial;
		font-size: 1em;
		color: #878787;
		padding: 0.3em 0.3em 0.1em 0.5em;

	}
	.field-name{
		color: var(--ligth-blue);
		font-family: arial;
		font-size: 1em;
		color: #878787;
		padding: 0.3em 0.3em 0.1em 0.5em;

	}
	.field-value{
		color: #ffffff;
		font-family: 'Raleway';
		font-weight: bold;
		font-size: 1em;
		padding: 0.3em 0.3em 0.5em 0.5em;
		border-color: #666666; border-style: solid; border-width: 1px; border-top: hidden; border-left: hidden; border-right: hidden;
	}

	.mapouter{
		position:relative;
		text-align:right;
		width:100%;
		height:400px;
	}
	.gmap_canvas{
		overflow:hidden;
		background:none!important;
		width:100%;
		height:400px;
	}
	.gmap_iframe{
		height:400px!important;
	}
}
/**===============================screen from 551px to 1000px ===========================*/
@media only screen and (min-width: 551px) and (max-width: 1000px){
	/**------------------------------ header */
	.header{
		background-color: var(--gray-dark);
		width: 100%;
		height: 70px;
		position: fixed;
		top: 0;
		left: 0;
	}
	.container{
		width: 98%;
		margin: auto;
	}
	.container .btn-menu, .logo{
		float: left;
		line-height: 3em;
	}
	.container .btn-menu label{
		color: red;
		font-size: 2em;
		cursor: pointer;
	}
	.logo h1{
		color: white;
		font-size: 2em;
		font-family: 'Montserrat Alternates';
		font-weight: 700;
		padding: 0em 1em 0em 1em;
	}
	.container .menu{
		float: right;
		line-height: 3em;
	}
	.container .menu a{
		display: inline-block;
		padding: 0em 0.5em 0em 0.5em;
		line-height: normal;
		text-decoration: none ;
		color: var(--ligth-blue);
		font-family: 'Russo One', sans-serif;
		transition: all 0.3s ease;
		border-bottom: 4px solid transparent;
		font-size: 1em;
	}
	.container .menu a:hover{
		border-bottom: 4px solid orange;
	}
	/**------------------------------ lateral menu */
	#btn-menu{ 
		display: none; 
	}
	.container-menu{
		position: absolute;
		background: rgba(0, 0, 0, 0.5);
		width: 10em;
		height: 100vh;
		top: 0;
		left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 25em;
		background: #1c1c1c ;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 1.5em;
		color: #c7c7c7;
		font-family: 'Raleway', sans-serif;
		border-left: 0.7em solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 1em solid var(--ligth-blue);
		background: #1f1f1f;
	}
	.cont-menu nav .newcv{
		font-weight: bold;
		font-size: 1.2em;
	}
	.cont-menu nav .newcv:hover{
		background-color: #43a7ff;
	}
	.cont-menu label{
		position: absolute;
		right: 1em;
		top: 1em;
		color: #fff;
		font-size: 2em;
	}
	/**------------------------------ section */
	main{
		width: 100%;
		margin-top: 5em;
		padding: 0em 2em 0em 2em;
	}
	.show-section{display: block;}
	.hide-section{display: none;}

	section{
		width: 95%;
	}
	section figure{
		text-align: center;
		padding: 1em;
	}
	section figure img{
		border-color: var(--ligth-blue);
		border-radius: 10px;
		border-style: double;
		border-width: 10px;
		font-family: arial;
		font-size: 1em;
		color: #dddddd;
		position-x: center;
		width: 15em;
	}
	section figure figcaption{
		color: white;
		font-family: arial;
		font-style: italic;
		font-size: 1em;

	}
	section h2{
		background-color: var(--blue-ligth);
		color: #ffffff;
		font-family: 'Montserrat Alternates';
		font-size: 1.7em;
		text-align: center;
		padding-top: 1em;
		padding-bottom: 1em;
		border-radius: 10px;

	}
	.field-name-title{
		color: var(--ligth-blue);
		font-family: arial;
		font-size: 1em;
		color: #878787;
		padding: 1em 5em 1em 1em;
		width: 100%;
	}
	.field-name{
		color: var(--ligth-blue);
		font-family: arial;
		font-size: 1em;
		color: #878787;
		padding: 1em 1em 1em 1em;
		float: left;
		width: 30%;
	}
	.field-value{
		color: #ffffff;
		font-family: 'Raleway';
		font-weight: bold;
		font-size: 1em;
		padding: 1em 1em 1em 5em;
		border-color: #666666; border-style: solid; border-width: 1px; border-top: hidden; border-left: hidden; border-right: hidden;
		width: 100%;
	}

	.mapouter{
		position:relative;
		text-align:right;
		width:100%;
		height:400px;
	}
	.gmap_canvas{
		overflow:hidden;
		background:none!important;
		width:100%;
		height:400px;
	}
	.gmap_iframe{
		height:400px!important;
	}
}
/**===============================screen from 1001px ===========================*/
@media only screen and (min-width: 1001px){
	/**html{min-height: 100% !important;
	height: 100%;}*/
	.column1{
		float: left;
		width: 10%;
		padding: 10px;
		height: 100vh;
	}
	.column3{
		float: right;
  		width: 10%;
  		padding: 10px;
  		height: 100vh;
		}
	.container-main{
			clear: both;
			float: left;
			width: 80%;
			padding: 10px;
			height: 100vh;
		}
	/**------------------------------ header */
	.header{
		background-color: var(--gray-dark);
		width: 100%;
		height: 70px;
		position:inherit;
		top: 0;
		left: 0;
	}
	.container{
		width: 98%;
		margin: auto;
	}
	.container .btn-menu, .logo{
		float: left;
		line-height: 3em;
	}
	.container .btn-menu label{
		color: red;
		font-size: 2em;
		cursor: pointer;
	}
	.logo h1{
		color: white;
		font-size: 2em;
		font-family: 'Montserrat Alternates';
		font-weight: 700;
		padding: 0em 1em 0em 1em;
	}
	.container .menu{
		float: right;
		line-height: 3em;
	}
	.container .menu a{
		display: inline-block;
		padding: 0em 0.5em 0em 0.5em;
		line-height: normal;
		text-decoration: none ;
		color: var(--ligth-blue);
		font-family: 'Russo One', sans-serif;
		transition: all 0.3s ease;
		border-bottom: 4px solid transparent;
		font-size: 1em;
	}
	.container .menu a:hover{
		border-bottom: 4px solid orange;
	}
	/**------------------------------ lateral menu */
	#btn-menu{ 
		display: none; 
	}
	.container-menu{
		position: absolute;
		background: rgba(0, 0, 0, 0.5);
		width: 10em;
		height: 100vh;
		top: 0;
		left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 25em;
		background: #1c1c1c ;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 1.5em;
		color: #c7c7c7;
		font-family: 'Raleway', sans-serif;
		border-left: 0.7em solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 1em solid var(--ligth-blue);
		background: #1f1f1f;
	}
	.cont-menu nav .newcv{
		font-weight: bold;
		font-size: 1.2em;
	}
	.cont-menu nav .newcv:hover{
		background-color: #43a7ff;
	}
	.cont-menu label{
		position: absolute;
		right: 1em;
		top: 1em;
		color: #fff;
		font-size: 2em;
	}
	/**------------------------------ section */
	main{
		width: 80%;
		margin-top: 5em;
		padding: 0em 2em 0em 2em;
		overflow: auto;
	}
	.show-section{display: block;}
	.hide-section{display: none;}

	section{
		width: 95%;
	}
	section figure{
		text-align: center;
		padding: 1em;
	}
	section figure img{
		border-color: var(--ligth-blue);
		border-radius: 10px;
		border-style: double;
		border-width: 10px;
		font-family: arial;
		font-size: 1em;
		color: #dddddd;
		position-x: center;
		width: 15em;
	}
	section figure figcaption{
		color: white;
		font-family: arial;
		font-style: italic;
		font-size: 1em;

	}
	section h2{
		background-color: var(--blue-ligth);
		color: #ffffff;
		font-family: 'Montserrat Alternates';
		font-size: 1.7em;
		text-align: center;
		padding-top: 1em;
		padding-bottom: 1em;
		border-radius: 10px;

	}
	.field-name-title{
		color: var(--ligth-blue);
		font-family: arial;
		font-size: 1em;
		color: #878787;
		padding: 1em 5em 1em 1em;
		width: 100%;
	}
	.field-name{
		color: var(--ligth-blue);
		font-family: arial;
		font-size: 1em;
		color: #878787;
		padding: 1em 1em 1em 1em;
		float: left;
		width: 30%;
	}
	.field-value{
		color: #ffffff;
		font-family: 'Raleway';
		font-weight: bold;
		font-size: 1em;
		padding: 1em 1em 1em 5em;
		border-color: #666666; border-style: solid; border-width: 1px; border-top: hidden; border-left: hidden; border-right: hidden;
		width: 100%;
	}

	.mapouter{
		position:relative;
		text-align:right;
		width:100%;
		height:400px;
	}
	.gmap_canvas{
		overflow:hidden;
		background:none!important;
		width:100%;
		height:400px;
	}
	.gmap_iframe{
		height:400px!important;
	}

}